@font-face {
    font-family: 'Geoge Cafe';
    src: url(/fontes/Louis\ George\ Cafe.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aveny T';
    src: url(/fontes/FontsFree-Net-Aveny-T-WEB.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    height: 200px;
    padding: 20px 0;
}

.logo{
    width: 50%;
    color: rgb(62, 120, 153);
    text-decoration: none;
    font-weight: bolder;
    font-size: 50;
    font-family: 'Geoge Cafe';
    padding-left: 20px;
    padding-top: 20px;
}

.menu{
    padding-top: 40px;
    width: 50%;
    text-align: right;
    font-family: 'Aveny T'
}

.menu a{
    color: rgb(26, 49, 62);
    text-decoration: none;
    font-weight: lighter;
    margin-right: 15px;
    margin-left: 50px;
    font-size: 30;
}

section.extras{
    height: calc(100% - 200px);
    position: relative;
}

.circulo{
    position: absolute;
    bottom: -380px;
    right: -400px;
    width: 950px;
    height: 950px;
    border-radius: 50%;
    background-image: linear-gradient(to top, lightskyblue, rgb(26, 49, 62));
}

.rede-social{
    position: absolute;
    right: 410;
    top: 180;
}

.rede-social img{
    display: block;
    padding-top: 20px;
}

.texto-sobre{
    font-family: 'Geoge Cafe';
    padding-left: 20px;
}

.center-baby{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
    padding-left: 110px;
}

.texto-sobre-baby{
    font-family: 'Geoge Cafe';
    padding-left: 340px;
}

.slider {
    display: block;
    height: 300px;
    width: 1400px;
    margin: left;
    margin-top: 0px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 50%;
    width: 50%;
    vertical-align: left;
    opacity: 0;
    visibility: hidden;
    margin-left: 120px;
}

.slider input {
    display: none;
}

.slider label {
    background-color: rgba(68, 67, 67, 0.563);
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 3px;
    position: absolute;
    width: 30px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 140px;
    top: 333px;
}

.slider li:nth-child(2) label {
    left: 200px;
    top: 333px;
}

.slider li:nth-child(3) label {
    left: 260px;
    top: 333px;
}

.slider li:nth-child(4) label {
    left: 320px;
    top: 333px;
}

.slider li:nth-child(5) label {
    left: 380px;
    top: 333px;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}